html {
  scroll-behavior: smooth;
}

h3{
  font-family: "PT_Sans_Regular";
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
  color: #BCBCBC;
}

h4 {
  font-family: "Open_Sans_Regular";
  font-size: 46px;
  line-height: 52px;
  color: #383838;
  margin-top: 16px;
  margin-bottom: 56px;
}

h5 {
  font-family: "Open_Sans_Regular";
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #383838;
}








/* ---------- MENU ---------- */

.menu-row {
  height: 100px;
  color: #225378;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktop-nav li {
  display: block;
}

.nav li {
  margin-left: 30px;
}

.nav a {
  font-family: "PT_Sans_Regular";
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #225378;
  text-decoration: none;
  position: relative;

}

.nav a:hover:after{
  content: '';
  position: absolute; 
  bottom: -2px; 
  left: 0;
  width: 100%;
  height: 2px;
  background: #EB7F00; 
  
}

.menu-contacts a {
  font-family: "PT_Sans_Regular";
  text-decoration: none;
  font-size: 18px;
  line-height: 23px;
  color: #225378;
  margin: 20px;
 
}

.menu-button a {
  display: block;
  height: 100%;
  font-family: "PT_Sans_Regular";
  font-weight: bold;
  color: #ffffff;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 31px 16px 31px 16px;
  background: #EB7F00;
  text-align: center;
  
}

.menu-button a:hover {
  background: #225378;
  transition: 0.5s;
}

.menu-button img {
  margin-left: 5px;
  margin-bottom: 5px;
  width: 20px;
}

/* ---------- HERO ---------- */

.hero {
  background: url(../img/sadok-1.png) no-repeat;
  background-size: cover;
  height: 834px;
  
}

.hero-title {
  padding-top: 10vw;
  text-align: center;
}

.hero-title h1 {
  font-family: "PT_Sans_Regular";
  font-weight: bold;
  font-size: 65px;
  line-height: 84px;
  letter-spacing: 2.87857px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero-title span {
  font-family: "PT_Sans_Regular";
  font-size: 26px;
  line-height: 33px;
  color: #FFFFFF;
}

.hero-button {
  margin: 20px auto;
  display: block;
  width: 193px;
  font-family: "PT_Sans_Regular";
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background: #EB7F00;
  box-shadow: 5px 6px 9px rgba(105, 105, 105, 0.5);
  border-radius: 26px;
  padding: 13px 41px 13px 41px;
  text-align: center;
}

.hero-button:hover {
  background: #FFFFFF;
  color: #333333;
  text-decoration: none;
  transition: 0.5s;

}

.hidden-block {
  background: url(../img/sadok-2.png) no-repeat;
  background-size: cover;
  height: 953px;
  display: none;
  color: #FFFFFF;
  padding-left: 60%;
  padding-top: 15%
  
}

.hidden-block h2 {
  font-family: "PT_Sans_Regular";
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
}

.hidden-block p {
  width: 50%;
  margin-bottom: 50px;
}

.hidden-button {
  width: 193px;
  font-family: "PT_Sans_Regular";
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background: #EB7F00;
  box-shadow: 5px 6px 9px rgba(105, 105, 105, 0.5);
  border-radius: 26px;
  padding: 13px 41px 13px 41px;
  text-align: center;
}

.hidden-button:hover {
  background: #FFFFFF;
  color: #333333;
  text-decoration: none;
  transition: 0.5s;

}



/* ---------- FEATURES ---------- */


.features-container {
  margin: -70px auto;
  width: 90%;
  z-index: 99;
  background: #FFFFFF;
  box-shadow: 5px 5px 12px rgba(174, 174, 174, 0.5);
}

.features-container .col-lg-3, .col-md-6 {
  padding: 0;
  
}

.features-block {
  height: 46vh;
  padding: 30px;
  position: relative;

}

.decor-line {
  background: #E3E3E3;
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0%;
  right: 0%;
  
}

.features-block img {
  height: 50px;
  
}

.features-block h4 {
  margin-top: 35px;
  margin-bottom: 25px;
  font-family: "PT_Sans_Regular";
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #383838;
}

.features-block p {
  font-family: "Open_Sans_Regular";
  font-size: 14px;
  line-height: 19px;
  color: #383838;
}

/* ---------- ABOUT ---------- */

.about {
  padding-top: 130px;
  padding-bottom: 70px;
}

.about iframe {
  width: 100%;
  height: 423px;
}
.about span {
  font-family: "PT_Sans_Regular";
  font-weight: bold;
  font-size: 46px;
  line-height: 52px;
  color: #383838;
}
.about p {
  font-family: "Open_Sans_Regular";
  font-size: 16px;
  line-height: 22px;
  color: #383838;
  margin-bottom: 50px;
}

.about-button {
  width: 193px;
  height: 57px;
  font-family: "PT_Sans_Regular";
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background: #EB7F00;
  box-shadow: 4px 4px 11px rgba(174, 174, 174, 0.5);
  border-radius: 28.5px;
  padding: 18px 35px 18px 35px;
  text-align: center;
  
}

.about-button:hover {
  background: #225378;
  color: #FFFFFF;
  text-decoration: none;
  transition: 0.5s;

}

iframe {
  margin-top: 50px;
}


/* ---------- DELIVERY ---------- */

.delivery {
  position: relative;
  background: #E8F2F6;
  padding: 40px;
}

.delivery-title {
  position: absolute;
  margin-top: 30px;
}

.delivery span {
  font-family: "PT_Sans_Regular";
  font-weight: bold;
  font-size: 46px;
  line-height: 52px;
  color: #383838;
}

.pulseAnim {
	fill: #EB7F00;
	transform-origin: 50% 50%;
	animation: pulse 4000ms ease-in infinite both;
}

.dotted-map {
	fill: #FFFFFF;
	fill-rule: nonzero;
}

@keyframes pulse {
	0% {
		r: 5;
		opacity: 1;
	}
	50%,
	70% {
		r: 7;
		opacity: 1;
	}
	100% {
		r: 5;
		opacity: 1;
	}
}


/* ---------- COOPERATION ---------- */

.cooperation-title {
  margin-top: 70px;
}
.cooperation span {
  font-family: "PT_Sans_Regular";
  font-weight: bold;
  font-size: 46px;
  line-height: 52px;
  color: #383838;
}

.step-1, .step-2, .step-3, .step-4, .step-5 {
  cursor: pointer;
}
.col {
  padding: 0;
}
.svg-block {
  padding: 40px;
  text-align: center;
}

.svg-block h5 {
  font-family: "Open_Sans_Regular";
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 45px;
}

.svg-block path {
  transition: 0.6s;
}

.icon-circles {
  position: relative;
  display: flex;
  justify-content: center;
  
}

.circle-1, .circle-2, .circle-3, .circle-4, .circle-5 {
  margin: 50px auto;
}

.line {
  position: absolute;
  background:#225378;
  height: 5px;
  width: 100%;
  top: 128px;
  left: 55%;
  z-index: -1; 
  transition: 0.6s;
}

.circle-1 {
  width: 30px;
  height: 30px;
  background: #EB7F00;
  border-radius: 50%;
  z-index: 99;
  transition: 0.6s;

}
.circle-2 {
  width: 30px;
  height: 30px;
  background: #225378;
  border-radius: 50%;
  z-index: 99;
  transition: 0.6s;

}
.circle-3 {
  width: 30px;
  height: 30px;
  background: #225378;
  border-radius: 50%;
  z-index: 99;
  transition: 0.6s;

}
.circle-4 {
  width: 30px;
  height: 30px;
  background: #225378;
  border-radius: 50%;
  z-index: 99;
  transition: 0.6s;

}
.circle-5 {
  width: 30px;
  height: 30px;
  background: #225378;
  border-radius: 50%;
  z-index: 99;
  transition: 0.6s;

}

.buttons-cooperation {
  margin-top: 30px;
}


/* ---------- NEWS ---------- */

.news-title {
  margin-top: 50px;
}

.news img {
  width: 100%;
}

.new-prev {
  height: 427px;
  box-shadow: 2px 2px 10px rgba(162, 162, 162, 0.5);
  
}

.new-prev-content {
  padding: 15px;
}

.post-title{
  font-family: "Open_Sans_Regular";
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #333333;
}

.post-data {
  font-family: "Open_Sans_Regular";
  font-size: 10px;
  line-height: 14px;
  color: #8B8B8B;
}

.post-text {
  font-family: "Open_Sans_Regular";
  font-size: 16px;
  line-height: 22px;
  color: #666666;
}

.post-button {
  font-size: 14px;
  line-height: 19px;
  color: #225378;
  border-bottom: 2px solid #EB7F00;
  
}

.post-button:hover {
  color: #225378;
  text-decoration:none;
  border: none;
}

.button-all-news {
  text-align: right;
  padding: 15px;
  margin-bottom: 50px;
  font-family: "Open_Sans_Regular";
  font-weight: bold;
}

/* ---------- NEWS ---------- */
.news h4 {
  font-family: "PT_Sans_Regular";
  font-weight: bold;
  font-size: 46px;
  line-height: 52px;
  color: #383838;
}
.contacts .col-lg-6 {
  padding: 0;
  margin: 0;
}
.contacts img, .contacts-title{
  display: inline;
}

.contacts img {
  width: 35px;
  height: 35px;
}
.form-block {
  height: 680px;
  padding: 30px;
  background: url(../img/bg-form.png);
}
.form-title h3 {
  font-family: "PT_Sans_Regular";
  font-size: 46px;
  line-height: 52px;
  color: #383838;
}

.form-title span {
  font-family: "PT_Sans_Regular";
  font-weight: bold;
  font-size: 46px;
  line-height: 52px;
  color: #383838;
}
.contacts-list {
  height: 680px;
  padding: 70px;
  position: relative;
  background: url(../img/bg-contact.png);
  z-index: -1;
  
}

.bg-layout {
  width: 100%;
  height: 680px;
  top: 0%;
  left: 0%;
  position: absolute;
  background: #225378;
  mix-blend-mode: normal;
  opacity: 0.79;
  z-index: -1;
  

}

.contacts-block {
  padding: 35px 0px 35px 0px;
}
.contacts h3 {
  font-family: "PT_Sans_Regular";
  font-size: 46px;
  line-height: 52px;
  color: #383838;
}

.contacts h2 {
  font-family: "PT_Sans_Regular";
  font-weight: normal;
  font-size: 46px;
  line-height: 52px;
  color: #383838;
}

.contacts-title {
  font-family: "Open_Sans_Regular";
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
  margin-left: 20px;
}

.contacts-text{
  font-family: "Open_Sans_Regular";
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  margin-left: 55px;
  max-width: 350px;
}
.contacts input {
  margin: 30px auto;
  display: block;
  resize: none;
  width: 90%;
  height: 50px;
}

.contacts textarea {
  margin: 30px auto;
  display: block;
  resize: none;
  width: 90%;
  height: 180px;
}

.contacts textarea::-webkit-input-placeholder {
  font-family: "Open_Sans_Regular";
  font-size: 16px;
  line-height: 22px;
  color: #C5C5C5;
  padding: 5px;
}
::-moz-placeholder {
  font-family: "Open_Sans_Regular";
  font-size: 16px;
  line-height: 22px;
  color: #C5C5C5;
  padding: 5px;
}
:-moz-placeholder {
  font-family: "Open_Sans_Regular";
  font-size: 16px;
  line-height: 22px;
  color: #C5C5C5;
  padding: 5px;
}/* Firefox 18- */
:-ms-input-placeholder {
  font-family: "Open_Sans_Regular";
  font-size: 16px;
  line-height: 22px;
  color: #C5C5C5;
  padding: 5px;
}

.contacts input::-webkit-input-placeholder {
  font-family: "Open_Sans_Regular";
  font-size: 16px;
  line-height: 22px;
  color: #C5C5C5;
  padding: 5px;
}
::-moz-placeholder {
  font-family: "Open_Sans_Regular";
  font-size: 16px;
  line-height: 22px;
  color: #C5C5C5;
  padding: 5px;
}
:-moz-placeholder {
  font-family: "Open_Sans_Regular";
  font-size: 16px;
  line-height: 22px;
  color: #C5C5C5;
  padding: 5px;
}/* Firefox 18- */
:-ms-input-placeholder {
  font-family: "Open_Sans_Regular";
  font-size: 16px;
  line-height: 22px;
  color: #C5C5C5;
  padding: 5px;
}

.form-block p {
  text-align: center;
  font-family: "Open_Sans_Regular";
  font-size: 8px;
  line-height: 11px;
  color: #AEAEAE;
}

.button-send {
  display: block;
  margin: 0 auto;
  width: 193px;
  font-family: "PT_Sans_Regular";
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background: #EB7F00;
  box-shadow: 5px 6px 9px rgba(105, 105, 105, 0.5);
  border-radius: 26px;
  padding: 13px 41px 13px 41px;
  text-align: center;
  
}

.button-send:hover {
  background: #225378;
  color: #FFFFFF;
  text-decoration: none;
  transition: 0.5s;

}


/* ---------- FOOTER ---------- */
.footer {
  padding: 16px;
  text-align: center;
}

.footer-menu-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 20%;
  margin: 22px auto;

}

.footer-item {
  display: inline-block;

}

.footer-item a {
  text-decoration: none;
  font-family: "PT_Sans_Regular";
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #383838;
  position: relative;
}


.footer-item a:hover:after{
  content: '';
  position: absolute; 
  bottom: -2px; 
  left: 0;
  width: 100%;
  height: 1px;
  background: #383838; 
  
}

.footer-text {
  font-family: "PT_Sans_Regular";
  font-size: 10px;
  line-height: 13px;
  color: #383838;
}